In [3]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

cs = 'postgres://qxtmarboumalkd:a70cd9ccf0b9b65bbb7d0da3bffe65c94f99c8b7c6d2a9cbfb2a24a15287074b@ec2-107-20-173-227.compute-1.amazonaws.com:5432/d7q3kba2rlkchv'

engine = create_engine(cs)

In [4]:
pd.read_sql_table('plukk_contacts', engine)

   index    name                     email
0      0  Petter  Petter.hetland@gmail.com
1      0    Test              test@test.no
2      0  Nikhil   nikhil.luthra@bouvet.no
3      0  Petter  Petter.hetland@gmail.com