In [6]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

cs = 'postgres://qxtmarboumalkd:a70cd9ccf0b9b65bbb7d0da3bffe65c94f99c8b7c6d2a9cbfb2a24a15287074b@ec2-107-20-173-227.compute-1.amazonaws.com:5432/d7q3kba2rlkchv'

engine = create_engine(cs)

In [7]:
pd.read_sql_table('plukk_feedback', engine)

,index,name,email,message
0,0,Petter,Petter@erase.no,Etalsetaelskjtralkej
1,0,aser,saer@sdfa.no,saerseraesraserasersaersersaerseraesraserasers...
2,0,Frida,frida.s.vik@gmail.com,"Tusen takk, Petter!"

In [41]:
with open('contacts.csv', 'w') as f:
    df = pd.read_sql_table('plukk_contacts', engine, columns=("index", "name", "email"))
    writer = csv.writer(f)
    for col in df:
        for row in col:
            writer.writerow(df)
    f.close()